## Exercise: Python Read Write File

`poem.txt` contains famous poem "Road not taken" by poet Robert Frost. You have to read this file in your python program and find out words with maximum occurance.

In [3]:
#code for reading words in the python file
with open('poem.txt', 'r') as file:
    print(file.readlines())

['Two roads diverged in a yellow wood,\n', 'And sorry I could not travel both\n', 'And be one traveler, long I stood\n', 'And looked down one as far as I could\n', 'To where it bent in the undergrowth;\n', '\n', 'Then took the other, as just as fair,\n', 'And having perhaps the better claim,\n', 'Because it was grassy and wanted wear;\n', 'Though as for that the passing there\n', 'Had worn them really about the same,\n', '\n', 'And both that morning equally lay\n', 'In leaves no step had trodden black.\n', 'Oh, I kept the first for another day!\n', 'Yet knowing how way leads on to way,\n', 'I doubted if I should ever come back.\n', '\n', 'I shall be telling this with a sigh\n', 'Somewhere ages and ages hence:\n', 'Two roads diverged in a wood, and I—\n', 'I took the one less traveled by,\n', 'And that has made all the difference.']

In [10]:
filepath = 'poem.txt'
with open(filepath, 'r') as file:
    content = file.read() #reads the content in the text file
    words = content.split() #split the words in the python file
    #words = content.split()   
print(words)
len(words)

['Two', 'roads', 'diverged', 'in', 'a', 'yellow', 'wood,', 'And', 'sorry', 'I', 'could', 'not', 'travel', 'both', 'And', 'be', 'one', 'traveler,', 'long', 'I', 'stood', 'And', 'looked', 'down', 'one', 'as', 'far', 'as', 'I', 'could', 'To', 'where', 'it', 'bent', 'in', 'the', 'undergrowth;', 'Then', 'took', 'the', 'other,', 'as', 'just', 'as', 'fair,', 'And', 'having', 'perhaps', 'the', 'better', 'claim,', 'Because', 'it', 'was', 'grassy', 'and', 'wanted', 'wear;', 'Though', 'as', 'for', 'that', 'the', 'passing', 'there', 'Had', 'worn', 'them', 'really', 'about', 'the', 'same,', 'And', 'both', 'that', 'morning', 'equally', 'lay', 'In', 'leaves', 'no', 'step', 'had', 'trodden', 'black.', 'Oh,', 'I', 'kept', 'the', 'first', 'for', 'another', 'day!', 'Yet', 'knowing', 'how', 'way', 'leads', 'on', 'to', 'way,', 'I', 'doubted', 'if', 'I', 'should', 'ever', 'come', 'back.', 'I', 'shall', 'be', 'telling', 'this', 'with', 'a', 'sigh', 'Somewhere', 'ages', 'and', 'ages', 'hence:', 'Two', 'roads', 'diverged', 'in', 'a', 'wood,', 'and', 'I—', 'I', 'took', 'the', 'one', 'less', 'traveled', 'by,', 'And', 'that', 'has', 'made', 'all', 'the', 'difference.']

144

2. `stocks.csv` contains stock price, earnings per share and book value. You are writing a stock market application that will process this file and create a new file with financial metrics such as pe ratio and price to book ratio. These are calculated as,

pe ratio = price / earnings per share
price to book ratio = price / book value

In [20]:
with open ('stocks.csv', 'r') as f, open("output.csv", 'w') as out:
    out.write("Company Name, PE Ratio, PB Ratio \n")
    next(f) #Skips the first line
    for line in f:
        tokens = line.split(",")
        stock = tokens[0]
        price = float(tokens[1])
        eps = float(tokens[2])
        book = float(tokens[3])
        
        pe = round(price/eps, 2)
        pb = round(price/book, 2)
        out.write(f"{stock}, {pe}, {pb}\n")

In [35]:
with open ("stocks.csv", "r") as f:
    contents = f.read()
print(contents)

Company Name,Price,Earnings Per Share, Book Value
Reliance,1467,66,653
Tata Steel,391,89,572
Infosys,650,35,147
Axis Bank,739,19,263
Bajaj Finance,4044,69,341

In [30]:
with open ("output.csv", "r") as f:
    content = f.read()
    
print(content)

Company Name, PE Ratio, PB Ratio
Reliance, 22.23, 2.25
Tata Steel, 4.39, 0.68
Infosys, 18.57, 4.42
Axis Bank, 38.89, 2.81
Bajaj Finance, 58.61, 11.86

In [31]:
tokens

['Bajaj Finance', '4044', '69', '341']

## Exercise: Python Class and Object

Create a sample class named Employee with two attributes id and name

employee :
    id
    name

In [9]:
class employee: #defined class
    def __init__(self, id, name): #method: job of a class
        self.id = id
        self.name = name

In [15]:
employee1 = employee(102, "John")  #obeject
print(f"The Eployee ID is {employee1.id} and name is {employee1.name}")

The Eployee ID is 102 and name is John

2. Use del property to first delete id attribute and then the entire object

In [16]:
del employee1.id
print("f{employee1.__dict__}")

f{employee1.__dict__}

In [19]:
employee1.id

AttributeError: 'employee' object has no attribute 'id'

In [20]:
employee1.name

'John'

## Exercise: Inheritance

1. Create inheritance using animal dog relation.

for example, 
    Animal and Dog both has same habitat so create a method for habitat 
    
class Animal:
   #code

class Dog(Animal):
    super()-it refers Animal class,now you can call Animal's methods.

In [25]:
class Animal:
    def __init__(self, species):
        self.species = species
        
    def habitat(self):
        print(f"The {self.species} lives in various habitats.")
        
class Dog(Animal): #Class Dog inherit information from the class Animal
    def __init__(self, species, breed):
        super().__init__(species)
        self.breed = breed

  #super() ...method allow us the child class to directly inherit the method from the parent class.

In [26]:
# Example usage:
animal = Animal("Generic Animal")
animal.habitat()

dog = Dog("Dog", "Golden Retriever")
dog.habitat()  # This will use the habitat method from the Animal class through inheritance

The Generic Animal lives in various habitats.
The Dog lives in various habitats.

## Exercise: Multiple Inheritance

Real Life Example:

1. Create multiple inheritance on teacher, student, youtuber.

Q. if we have created teacher and now one student joins master degree with becoming teacher then what??

Ans :  just make subclass from  teacher so that student will become teacher

In [34]:
class teacher():
    def teacher_job(self):
        print("I work as a teacher.")
        
class engineer():
     def engineer_job(self):
        print("I code.")
        
class youtuber():
    def youtuber_job(self):
        print("I can code and teach")
        
class person(teacher, engineer, youtuber):
    pass

coder = person()
coder.teacher_job()
coder.engineer_job()
coder.youtuber_job()

I work as a teacher.
I code.
I can code and teach

In the above problem, first three classes `teacher`, `engineer` and `youtuber` was defined, then another class `person` was defined. The class `person` inherits all the methods from previously mentioned three classes.