## Exercise: Numbers

1. You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.

In [1]:
football_length = 92

In [2]:
football_width = 48.8

In [3]:
football_area = football_length*football_width 
print("Area of football field:", football_area, "m^2")

Area of football field: 4489.599999999999 m^2

2. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [4]:
potato_chip_pkd_price = 1.49
total_cost = 9*potato_chip_pkd_price
money_given = 20
money_return = 20 - total_cost
print(money_return)

6.59

3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)

In [5]:
length_bathroom = 5.5
area_bathroom = 5.5**2
cost_per_sqft = 500
total_cost = area_bathroom *cost_per_sqft
print(total_cost)

15125.0

4. Write a boolean representation of a number 17.

In [6]:
num=17
print('Binary of number 17 is:',format(num,'b')) # Ans: 10001
#b stands for binary

Binary of number 17 is: 10001

In [7]:
help(format)

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return value.__format__(format_spec)

    format_spec defaults to the empty string.
    See the Format Specification Mini-Language section of help('FORMATTING') for
    details.

## Exercise: Strings in Python

1. Create 3 varaibles to store street, city and country, now creates address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now print the address in such a way that the street, city, and country prints in a separate line.

In [8]:
street = "8 Mayur Bhanj Road"
city = "Kolkata"
country = "India"
address = street + ", " + city + ", " + country
print(address)

8 Mayur Bhanj Road, Kolkata, India

In [9]:
address = """8 Mayur Bhanj Road
Kolkata
India
"""
print(address)

8 Mayur Bhanj Road
Kolkata
India

In [10]:
f"My address is: {street}, {city}, {country}."

'My address is: 8 Mayur Bhanj Road, Kolkata, India.'

The F-strings assists in terpolation of the strings in a concise manner.

Create a variable to store the string "Earth revolves around the sun"

-  Print "revolves" using slice operator
- Print "sun" using negative index

In [11]:
sen1 = "Earth revolves around the sun"
print(sen1[-3: ])

sun

In [12]:
print(sen1[6:14])

revolves

3. Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [13]:
x = 1
y = 5
print(f" I eat {x} veggies and {y} fruits daily" )

 I eat 1 veggies and 5 fruits daily

5. I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [14]:
x1 = 10
eatery = "samosa"
print(f"maine {x1} {eatery} khaye")

maine 10 samosa khaye

In [15]:
s = "maine 200 banana khaye"
s = s.replace('banana', 'samosa').replace('200', '10')
print("Using single line:", s)

Using single line: maine 10 samosa khaye

## Exercise: Python Lists

Let us say your expense for every month are listed below,\
January - 2200\
February - 2350\
March - 2600\
April - 2130\
May - 2190\
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [16]:
months = ["January", "February", "March", "April", "May"]
expenses = [2200, 2350, 2600, 2130, 2190]

extra_spent = expenses[1] - expenses[0]
print(extra_spent)

150

In [17]:
total_first_qtr_expen = expenses[0] + expenses[1] + expenses[2]
print(total_first_qtr_expen)

7150

In [18]:
expenses[3] = 2330
print(expenses)

[2200, 2350, 2600, 2330, 2190]

You have a list of your favourite marvel super heros.\
heros=['spider man','thor','hulk','iron man','captain america']\
Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [19]:
heros=['spider man','thor','hulk','iron man','captain america']

In [20]:
len(heros)

5

In [21]:
heros.append("black panther")
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [22]:
#heros.remove("black panther")
del(heros[-1])
heros.insert(3, "black panther")
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [23]:
del(heros[1:2])
print(heros)

['spider man', 'hulk', 'black panther', 'iron man', 'captain america']

In [24]:
heros.insert(1, "doctor strange")
print(heros)

['spider man', 'doctor strange', 'hulk', 'black panther', 'iron man', 'captain america']

In [25]:
heros.sort()
print(heros)

['black panther', 'captain america', 'doctor strange', 'hulk', 'iron man', 'spider man']

In [26]:
dir(heros)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## Exercise: Python If Condition

Using following list of cities per country,\
india = ["mumbai", "banglore", "chennai", "delhi"]\
pakistan = ["lahore","karachi","islamabad"]\
bangladesh = ["dhaka", "khulna", "rangpur"]\
1. Write a program that asks user to enter a city name and it should tell which country the city belongs to
2. Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

In [27]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

city_name = input("Write your city name:")

if city_name in india:
    print("Your country is India")
elif city_name in pakistan:
    print("Your country is Pakistan")
elif city_name in bangladesh:
    print("Your country is Bangladesh")
else:
    print("Country not Found!")

Write your city name:india
Country not Found!

2. Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

In [28]:
city_name1 = input("Write your first city name:")
city_name2 = input("Write your second city name:")

if city_name1 in india and city_name2 in india:
    print("Both cities are in India")
else:
    print("They don't belong to same country")

Write your first city name:kolkata
Write your second city name:chennai
They don't belong to same country

Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
  1. Ask user to enter his fasting sugar level
  2. If it is below 80 to 100 range then print that sugar is low
  3. If it is above 100 then print that it is high otherwise print that it is normal

In [29]:
sugar_level = input("Enter the fasting sugar level:")
sugar_level = int(sugar_level)
if sugar_level >= 80 and sugar_level < 100:
    print("sugar is low")
elif sugar_level > 100:
    print("sugar is high")
else:
    print("sugar is normal")

Enter the fasting sugar level:300
sugar is high

## Exercise: Python for loop

1. After flipping a coin 10 times you got this result,

result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]\
Using for loop figure out how many times you got heads

In [30]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
print(result)

['heads', 'tails', 'tails', 'heads', 'tails', 'heads', 'heads', 'tails', 'tails', 'tails']

In [31]:
count = 0
for item in result:
    if item == "heads":
        count = count + 1
        #print(item)
print(count)

4

2. Print square of all numbers between 1 to 10 except even numbers

In [32]:
for i in range(1, 11):
    if i%2 != 0:
        print(i*i)

1
9
25
49
81

3. Your monthly expense list (from Jan to May) looks like this,\
expense_list = [2340, 2500, 2100, 3100, 2980]\
Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. If expense is not found then it should print that as well.

In [33]:
expense_list = [2340, 2500, 2100, 3100, 2980]
month = ["January", "February", "March", "April", "May"]

for i in range(len(expense_list)):
    print("Month:", month[i], ",","Expense:", expense_list[i])

Month: January , Expense: 2340
Month: February , Expense: 2500
Month: March , Expense: 2100
Month: April , Expense: 3100
Month: May , Expense: 2980

In [34]:
expense = input("Enter the expense for this month:")
expense = int(expense)

for idx in range(len(expense_list)):
    if expense==expense_list[idx]: 
        print("The expense happened on", month[idx]) 
        break        
if expense!=expense_list[idx]:
    print("Expense was not found")

Enter the expense for this month:4000
Expense was not found

4. Lets say you are running a 5 km race. Write a program that,

(i) Upon completing each 1 km asks you "are you tired?"\
(ii) If you reply "yes" then it should break and print "you didn't finish the race"\
(iii) If you reply "no" then it should continue and ask "are you tired" on every km\
(iv) If you finish all 5 km then it should print congratulations message

In [35]:
run = 0
for ii in range(1,6):
    if ii == run + ii:
        reply = input("Are you tired?:")
        if reply == "Yes":
            print( "You didn't finish the race")
            break
        elif reply == "No":
            reply1 = input("Are you tired on every km?:")
            if ii < 5:
                continue
            elif ii == 5:
                print("Congratulations!, you finished 5km race.")

Are you tired?:no
Are you tired?:no
Are you tired?:yes
Are you tired?:yes
Are you tired?:yes

5. Write a program that prints following shape

*
**
***
****
*****

In [36]:
for i in range(1,6):
    print(i*"*")

*
**
***
****
*****

## Exercise: Functions in Python

1. Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,

area = (1/2)*base*height

In [37]:
def area(base, height):
    Area = (1/2)*base*height
    return Area
print("The area of triangle is:", area(2,3), "cm^2")

The area of triangle is: 3.0 cm^2

2. Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is,

rectangle area=length*width

In [38]:
def area(base, height, type):
    if type == "rectangle":
        length = base
        width = height
        Area = length*width
    elif type == "triangle":
        Area = (1/2)*base*height
    else:
        Area = (1/2)*base*height
    return Area
print("The area of triangle is:", area(2,3, " "), "cm^2")

The area of triangle is: 3.0 cm^2

3. Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3,

*
**
***

if input is 4 then it should print

*
**
***
****

In [39]:
def print_pattern(input_number):
    for i in range(1,input_number + 1):
            print(i*"*")
            
print_pattern(input_number = 4)

*
**
***
****

## Exercise: Python Dict and Tuples

1. We have following information on countries and their population (population is in crores),

    |Country|Population|
    |-------|----------|
    |China|143|
    |India|136|
    |USA|32|
    |Pakistan|21|   
  
1. Using above create a dictionary of countries and its population
2. Write a program that asks user for three type of inputs,
        1. print: if user enter print then it should print all countries with their population in this format,
            ```
            china==>143
            india==>136
            usa==>32
            pakistan==>21
            ```

In [40]:
d = {"China": 143, 
    "India": 136,
    "USA": 32,
    "Pakistan": 21}
#Print dcitionary
for key, value in d.items():
    print(key, "==>",value)

China ==> 143
India ==> 136
USA ==> 32
Pakistan ==> 21

a. `add`: if user input add then it should further ask for a country name to add. If country already exist in our dataset then it should print that it exist and do nothing. If it doesn't then it asks for population and add that new country/population in our dictionary and print it

In [41]:
#Add dictionary
def add():
    country = input("Enter the country name:")
    if country in d:
        print("country name already exists")
    if country not in d:
        country_value = input("Enter the value of country")
        d[country] = country_value
        print(d.items())
#add()

b. `remove`: when user inputs remove it should ask for a country to remove. If country exist in our dictionary then remove it and print new dictionary using format shown above in (a). Else print that country doesn't exist!

In [42]:
def remove():
    country = input("Enter the name of country to remove")
    if country in d:
        removed_value = d.pop(country)
        print(f"Key value pair '{country}':{removed_value} is removed")  
    else:
        print("Country not found")

#remove()
print(f"The Updated dictionary'{d}''")

The Updated dictionary'{'China': 143, 'India': 136, 'USA': 32, 'Pakistan': 21}''

c. `query`: on this again ask user for which country he or she wants to query. When user inputs that country it will print population of that country.

In [64]:
def query():
    country = input("Which country details you want?:")
    if country in d:
        print(f"The country is '{country}': {d[country]}")
    else:
        print("Country not found")
#d.items()         
query()

Which country details you want?:China
The country is 'China': 143

2. You are given following list of stocks and their prices in last 3 days,

    |Stock|Prices|
    |-------|----------|
    |info|[600,630,620]|
    |ril|[1430,1490,1567]|
    |mtl|[234,180,160]|

1. Write a program that asks user for operation. Value of operations could be,
     1. print: When user enters print it should print following,
            ```
            info ==> [600, 630, 620] ==> avg:  616.67
            ril ==> [1430, 1490, 1567] ==> avg:  1495.67
            mtl ==> [234, 180, 160] ==> avg:  191.33
            ```

In [81]:
d1 = {
    "info":[600,630,620],"ril":[1430, 1490, 1567], "mtl":[234, 180, 160]}
d1.items()

#Print dcitionary
for key, value in d1.items():
    print(key, "==>",value, "==>", "Average:",sum(value)/len(value) )

info ==> [600, 630, 620] ==> Average: 616.6666666666666
ril ==> [1430, 1490, 1567] ==> Average: 1495.6666666666667
mtl ==> [234, 180, 160] ==> Average: 191.33333333333334

2. add: When user enters 'add', it asks for stock ticker and price. If stock already exist in your list (like info, ril etc) then it will append the price to the list. Otherwise it will create new entry in your dictionary. For example entering 'tata' and 560 will add tata ==> [560] to the dictionary of stocks.

In [99]:
def add():
    stock_name = input("Enter the name of the stock: ")
    value = input("Enter the value")
    value = [int(value)]
    if stock_name in d1:
        d1[stock_name].append(value)
    else:
        d1[stock_name] = value
    print(d1)
add()

Enter the name of the stock: bajaj
Enter the value30
{'info': [600, 630, 620], 'ril': [1430, 1490, 1567, [30]], 'mtl': [234, 180, 160], 'tata': 40, 'bajaj': [30]}

3. Write circle_calc() function that takes radius of a circle as an input from user and then it calculates and returns area, circumference and diameter. You should get these values in your main program by calling circle_calc function and then print them

In [ ]:
def circle_calc():
    radius = input("Enter radius of a circle = ")
    radius = int(radius)
    area = pi**2 * radius
    circumference = 2*pi*radius
    diameter = 2*radius
    
    print(f"'{radius}':[area, circumference, ]")

In [10]:
import math #imports the math modules
dir(math) #check all the function in the modules

import calendar #imports the math modules
cal = calendar.month(1989, 5) #check the month of a specific year
print(cal)

dir(calendar)

      May 1989
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_monthlen',
 '_nextmonth',
 '_prevmonth',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthrange',
 'prcal',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

How to write a module in python

The files can be imported.

Work with Json.
Reading and Writing files